/**
 * Palette: http://de-de.colourlovers.com/palette/997951/Light_Tonight
 *
 */
html {
	background-color: #A0A688;
}   
 
body {
	color: #333;
	font-family: Bitsream Vera, "Trebuchet MS", Verdana, Arial;
	overflow-y: scroll; /* always show the scrollbar, i HATE jumping around of the content */
}

table {
    padding: 2px;
    margin: 2px;
    border-collapse: separate;
    border-spacing: 1px;
}

caption {
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
    text-align: right;
    background-color: #1F0711;
    color: #ECF2D8;
}

tr {

}

th {
    text-align: right;
    background-color: #54593F;
    font-weight: bolder;
    padding: 5px;
    margin: 2px;
    color: #ECF2D8;
}

td.light {
    font-weight: bold;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    text-align: right;
}

td {
    padding: 2px;
}

td#left {
    text-align: left;
}

td.dataTableCell {
    vertical-align: center;
}

h1 {
    text-align: center;
    font-size: 153.9%;
}

h4 {
    font-size: 116%;
    font-weight: bold;
    text-decoration: underline;
    line-height: 200%;
}
h3 {
    background-color: #ccc;
    font-size: 116%;
}

a, a:hover, a:visited, a:active {
    color: #FFF7DB;
    text-decoration: none;
}

a#fb_location {
	background-image: url('/files/images/map.png');
	background-repeat: no-repeat;
    padding-left: 20px;
    color: white;
}

div#buttan {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

a#buttan {
    padding: 5px;
    border: 2px solid #aaaaaa;
    background-color: #fefefe;
    font-weight: bold;
}

li {
    padding-left: 10px;
}

/**
 *
 * Header
 *
 **/
div#hd {
	background-color: #1F0711;
	border-bottom: 2px solid #cdcdcd;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -10px;
	margin-right: -10px;
    color: white;
    font-size: 85%;
    height: 75px;
    padding-top: 5px;
}
h1#hd {
    font-weight: bold;
    font-size: 400%;
    text-align: left;
	letter-spacing: -0.1em;
}
img#hd{
	border: 1px solid #aaa;
}
#bd {
}

/**
 *
 * Navigation
 *
 **/
div#nav {
    background-color: #54593F;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    padding: 0px 0px 0px 5px;
	margin-right: -10px;
}

#nav {
    font-weight: bold;
    line-height: 175%;
	
}

#nav a {
    color: #ECF2D8;
    display: block;
    padding: 5px 0px 5px 0px;
}

#nav a:hover {
    color: #fff;
    border-right: 10px solid white;  
}

#nav h2 {
	color: #BE0C0C;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

h2.menu_slider {
	 cursor: pointer;
}

#search {
	border: 1px solid #999;
	color: #999;
}
#search:focus {
	border: 1px solid #999;
	color: #000;
}

/**
 *
 * Content
 *
 **/

#content {
    padding: 2px;
}

/**
 *
 * Footer
 *
 **/
a#ft ,
a:visited#ft,
a:active#ft 
{
    color: #555;
    text-decoration: none;
}
div#ft {
    width: 100%;
    color: #333;
	margin: 20px auto 0px ;
	padding: 10px 0px 10px 0px;
	line-height: 17px;
	float: bottom;
}


/**
 * Skilltree specifics
 */
.newsTitleImage
{
  left: 5px;
  float: left;
  margin-right: -40px;
  position: relative;
}

/**
 *
 * in place editing stuff
 *
 **/
td.editable:hover
{
    background-color: #ffffd3;
	border: 1px solid #999;
}
td.editable
{
    
}

/**
 *
 * Snippets
 *
 **/
a#fb_location,
a#fb_character,
a#fb_item,
a#fb_fitting {
	color: #ECF2D8;
}

#location_snippet {
	text-align: left;
}
div#location_snippet {
	padding: 5px;
	background-color: #efefef;
}

a#igb_link {
	 cursor: pointer;
	 color: #F94900;
}

#income {
    color: #2D4D24;
}

#expense {
    color: #AD0124;
}    


/**
 * Ajax Loading thingy
 **/
div#ajax_loading_thingy {
	background-image: url('/files/27-1.gif');
	background-repeat: no-repeat;
    background-color: #ffffd3;
    color: black;
    border: 2px solid red;
    position: absolute;
    left: 200px;
    top: 32px;
    font-size: 200%;
    padding: 14px;
    padding-left: 80px;
}
 
 
