body{
    color:#333;
	background: #FFFFFF url(/files/images/bg.gif) repeat-x;
}

table {
    /* border: 1px solid #121212; */
    padding: 2px;
    margin: 2px;
    border-collapse: separate;
    border-spacing: 1px;
}

caption {
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bolder;
    text-align: right;
    background-color: #222;
    color: white;
}


tr {
    background-color: #f6f6f6;
}
tr:hover {
    background-color: #ccc;
}

th {
    text-align: right;
    background-color: #434343;
    font-weight: bolder;
    padding: 5px;
    margin: 2px;
    color: white;
    /* border: 1px solid #666; */
}

td.light {
    background-color: #e6e6e6;
    font-weight: bold;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

td {
    padding: 2px;
    text-align: right;
    /* border: 1px solid #666;  */
}

h1 {
    text-align: center;
    font-size: 153.9%;
}

a, a:hover, a:visited, a:active {
    color: #995555;
    text-decoration: none;
}

a#buttan {
    padding: 10px;
    border: 2px solid #aaaaaa;
    background-color: #fefefe;
    font-weight: bold;
}

li {
    padding-left: 10px;
}

/**
 *
 * Header
 *
 **/
div#hd {
    background-color: #313032;
    color: white;
    font-size: 85%;
    height: 84px;
    padding-top: 16px;
}
h1#hd {
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana, Arial;
    font-size: 197%;
    text-align: left;
}

img#hd {
    border-bottom: 2px solid #313032;
}

#bd {
    background: #fff;
}


/**
 *
 * Navigation
 *
 **/
div#nav {
    border-bottom: 1px dotted #c0c0c0;
    border-right: 1px dotted #c0c0c0;
    border-left: 1px dotted #c0c0c0;
    padding: 0px 5px 5px 5px;
}
#nav {
    background-color: #f2f2f2;
    color: #333333;
    font-weight: bold;
    line-height: 200%;
}

#nav a {
    color: #333;
    border-bottom: 1px dotted #c0c0c0;
    display: block;
    padding: 5px 0px 5px 0px;
}

#nav a:hover {
    background: #eaeaea;
    color: #be0c0c;
}

#nav h2 {
	color: #BE0C0C;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px dotted #C0C0C0;
}

/**
 *
 * Content
 *
 **/

#content {
    padding: 2px;
}



/**
 *
 * Footer
 *
 **/
a#ft ,
a:visited#ft,
a:active#ft 
{
    color: #bbb;
    text-decoration: none;
}
div#ft {
    width: 100%;
    background: #313032;
    color: #FFF;
	margin: 20px auto 0px ;
	padding: 10px 0px 10px 0px;
	line-height: 17px;
    position: relative;
    bottom: 0px;
}


/**
 * Skilltree specifics
 */
.newsTitleImage
{
  left: 5px;
  float: left;
  margin-right: -40px;
  position: relative;
}

